<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    
    <!-- <%= include('common/header');%>   if we write(=) this than same html with code will show <nav> <h3>Header</h3> </nav> -->
    <%- include('common/header');%>   <!-- it show only meaningful code -->
    <h2>This is login page</h2>
    <h1>Welcome <%= name %> </h1>

</body>
</html>